 /*
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
 */
    body {
      background: #1d1f10;
    }    

    #title {
      position: relative;
      top: 32em;
      left: -5em;
    }
    h1 {
    	font-family: 'Cabin Sketch', sans-serif;
      font-size: 2.5em;
      color: red;
    }
    canvas {
      /*position: absolute;*/
      margin: 0 auto;
    }

    p {
      color: red;
    }

    ul {
      /*padding-left: 5px;*/
    }
    li{
      /*padding-right: 5px;*/
      display: inline;
      font-family: 'Cabin Sketch', sans-serif;
      color: yellow;
    }
    #actions {
      position: relative;
      top: -31em;
      width: 55em;
      left: -4.5em;
      }
    #directions {
      position: relative;
      top: -4em;
      left: 6em;
      }

    @media (min-width: 400px) {
      /*#actions {
        bottom: 0em;
      }
      #directions {
        top: 0em;
      }*/
      #actions ul button {
      width: 12em;
      left: 4em;
      }
    }
    
    

    }